<div class="ui hidden divider"></div>
<div class="ui large info message">
    <div class="header">
        How to use Soundscape 
    </div>

    <ol class="list">
        <li>Create a <a href="{{$.HTTPPrefix}}/create">new playlist.</a></li>
        <li><a href="{{$.HTTPPrefix}}/import">Import</a> media into your library.</li>
        <li><a href="{{$.HTTPPrefix}}/library">Add media</a> to your playlist.</li>
        <li>Play your <a href="{{$.HTTPPrefix}}/">playlist.</a></li>
    </ol>
</div>
<div class="ui hidden divider"></div>

